<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - News Article Portal</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
    <link href="~/Content/prodList.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css" rel="stylesheet" />
</head>
<body>
    <div class="col-md-pull-2">
        <header>
            <nav id="nav" class="navbar fixed-top navbar-expand-lg navbar-light bg-inverse-info"
                 style="background-image: linear-gradient(blue,darkblue, darkblue, blue);
border: 2px solid transparent; border-radius: 0px; padding: 9px ">
                <div class="container-fluid" style="">
                    @Html.ActionLink("News Article Portal", "Index", "Home", new { area = "" }, new { @class = "navbar-brand", id = "hompg" })
                    <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarCollapse" style="text-align:center">
                        <div class="navbar-nav">
                            @*&nbsp;                        &nbsp;                        &nbsp;                        &nbsp;                        &nbsp;                &nbsp;
                            @Html.ActionLink("Contacts", "MainPage", "Home", new { param = "Contacts" }, new { id = "btn", @class = "nav-item nav-link" })
                                @Html.ActionLink("Delivery", "MainPage", "Home", new { param = "Delivery" }, new { id = "btn", @class = "nav-item nav-link" })
                                @Html.ActionLink("Payments", "MainPage", "Home", new { param = "Payments" }, new { id = "btn", @class = "nav-item nav-link" })
                                @Html.ActionLink("Videos", "MainPage", "Home", new { param = "Videos" }, new { id = "btn", @class = "nav-item nav-link" })
                                @Html.ActionLink("Cart", "MainPage", "Home", new { isShopCart = "cart" }, new { id = "btn", @class = "nav-item nav-link" })*@
                        </div>
                        <div class="navbar-nav ms-auto">
                            @Html.Partial("_LoginPartial")
                        </div>
                    </div>
                </div>
            </nav>

        </header>
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
    </div>

    <!-- Footer -->
    <footer class="text-center  text-white"
            style="background-color: black;opacity:1">
        <!-- Grid container -->
        <div class="container p-4 pb-0">
            <!-- Section: Links -->
            <section class="">
                <!--Grid row-->
                <div class="row">

                </div>
                <!--Grid row-->
            </section>
            <!-- Section: Links -->

            <hr class="mb-4" />

            <!-- Section: CTA -->
            <section class="">
                <p class="d-flex justify-content-center align-items-center">
                    <span class="me-3" style="">Register for Free!</span>
                    @Html.ActionLink("Sign up!", "Register", "Account", null, new { @class = "btn btn-outline-light btn-rounded" })
                </p>
            </section>
            <!-- Section: CTA -->

            <hr class="mb-4" />

            <!-- Section: Social media -->
            <section class="mb-4 text-center">
                <!-- Facebook -->
                <a class="btn btn-outline-light btn-floating m-1"
                   href="http://www.facebook.com"
                   target="_blank"
                   role="button">
                    <i class="fab fa-facebook-f"></i>
                </a>

                <!-- Twitter -->
                <a class="btn btn-outline-light btn-floating m-1"
                   href="#!"
                   role="button">
                    <i class="fab fa-twitter"></i>
                </a>

                <!-- Google -->
                <a class="btn btn-outline-light btn-floating m-1"
                   href="mailto:aaa@gmail.com" target="_blank"
                   role="button">
                    <i class="fab fa-google"></i>
                </a>

                <!-- Instagram -->
                <a class="btn btn-outline-light btn-floating m-1"
                   href="" target="_blank"
                   role="button">
                    <i class="fab fa-instagram"></i>
                </a>

                <!-- Linkedin -->
                <a class="btn btn-outline-light btn-floating m-1"
                   href="https://wa.me/" target="_blank"
                   role="button">
                    <i class="fab fa-whatsapp"></i>
                </a>

                <!-- Github -->
                <a class="btn btn-outline-light btn-floating m-1"
                   href="viber://public?id=" target="_blank"
                   role="button">
                    <i class="fab fa-viber"></i>
                </a>
            </section>
        </div>
        <div class="text-center p-3"
             style="background-color: rgba(0, 0, 0, 0.2)">
            <a class="text-white" style="text-decoration:none" href="#">
                &copy; @DateTime.Now.Year - News Article Portal Web-Service
            </a>
        </div>
    </footer>
    <!-- End Footer -->

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>

<style>
    #btn {
        border: 0.1px solid transparent;
        border-radius: 9px;
        font-family: Palatino Linotype;
        font-weight: bold;
        color: white;
    }

        #btn:hover {
            color: white;
            border: 0.1px solid yellow;
            background-color: #3498db;
            border-radius: 9px;
            background-image: linear-gradient(red, yellow);
        }

        #btn:active {
            color: white;
            border: 0.1px solid gold;
            background-color: gold;
            border-radius: 9px;
        }
    body {
        background: url(../../Images/bg.jpg) no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
    #hompg {
        border-radius: 9px;
        border: 0.1px solid transparent;
        padding: 9px;
        font-weight: bold;
        font-family: Palatino Linotype;
        color: gold;
        font-size: x-large;
        background-image: linear-gradient(violet, blue);
    }

        #hompg:hover {
            border-radius: 9px;
            color: goldenrod;
            padding: 9px;
            background-color: #8e44ad;
            border: 0.1px solid #8e44ad;
            background-image: linear-gradient(darkviolet, darkblue);
        }

        #hompg:active {
            border-radius: 9px;
            border: 0.1px solid gold;
            background-color: gold;
            color: gold;
        }
</style>